[package]
name = "control_panel_gui"
version = "0.1.0"
edition = "2021"
default-run = "ctrl-panel"

[dependencies]
gettext-rs = { version = "0.7", features = ["gettext-system"] }
gtk = { version = "0.9.6", package = "gtk4" }
adw = { version = "0.7.2", package = "libadwaita", features = ["v1_4"] }
clap = {version = "4.5.37", features = ["derive", "env"]}
regex = "1"
dbus = "0.9"
zbus = "5.5"
futures = "0.3"
log = "0.4.27"
syslog = "7.0.0"

env_logger = "0.11.8"
tokio = {version = "1.43", features = ["rt", "time", "macros"]}
async-channel = "2.3.1"

serde_json = "1.0"
base64 = "0.22"
chrono = "0.4"
octocrab = "0.43"
hyper = { version = "0.14", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
config = "0.15"
http = "1.0.0"
secrecy = "0.10.3"
dialog = "0.3.0"
toml_edit = "0.22.24"

givc-client = { git = "https://github.com/tiiuae/ghaf-givc", branch = "main" }
givc-common = { git = "https://github.com/tiiuae/ghaf-givc", branch = "main" }

[build-dependencies]
glib-build-tools = "0.20"

[[bin]]
name = "ctrl-panel"
path = "src/main.rs"
