/*
:root {
    --bg-color-1: #1D1D1D;
    --bg-color-2: #2B2B2B;
    --bg-color-3: #353535;

    --accent-color: #F15025;
}
*/

.adw-header-bar>windowhandle>box>*>label {
  color: #1D1D1D;
}

/*Header toggle buttons*/
.header-toggle-button {
  background-color: #F15025;
  border-radius: 5px;
  color: #FFFFFF;
}

.header-toggle-button:hover {
  background-color: #1D1D1D;
  border-radius: 5px;
  color: #FFFFFF;
}

.header-toggle-button:disabled {
  background-color: #1B1B1B;
  border-radius: 5px;
  color: #FFFFFF;
}

.header-toggle-button:checked {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 5px;
  color: #FFFFFF;
}

.header-toggle-button:checked:hover {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 5px;
  color: #FFFFFF;
}

.header-toggle-button:checked:disabled {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 5px;
  color: #FFFFFF;
}

label.normal-text {
  font-size: 14px;
  color: #FFFFFF;
}

label.vm-name {
  font-size: 16px;
  /*font-weight: bold;*/
  color: #FFFFFF;
}

label.title {
  font-size: 16px;
  /*font-weight: bold;*/
  color: #FFFFFF;
}

.radiobutton>label {
  color: #FFFFFF;
}

separator {
  color: #FFFFFF;
  margin: 10px;
}

box.container {
  background-color: #1D1D1D;
}

box.info-box {
  background-color: #2B2B2B;
}

.vm-list-main {
  background-color: #1D1D1D;
}

.vm-list-info-page {
  background-color: #2B2B2B;
}

/*Scroll view for VM's list*/
.vm-scroll-view {
  background-color: #1D1D1D;
}

/*doesn't work
.vm-scroll-view>trough {
  background-color: #00FF00;
}

.vm-scroll-view.right>slider {
  background-color: #00FF00;
}
*/

/* ServiceRow styling */
.vm-list-main>row {
  background-color: #1D1D1D;
  border: 1px solid #353535;
  border-radius: 3px;
  margin: 5px;
}

.vm-list-main>row:active {
  background-color: #2B2B2B;
  border: 1px solid #353535;
  border-radius: 3px;
  margin: 5px;
}

.vm-list-main>row:hover {
  background-color: #2B2B2B;
  border: 1px solid #353535;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
  /* horizontal offset, vertical offset, blur radius, color */
}

.vm-list-main>row:focus {
  background-color: #2B2B2B;
  border: 1px solid #353535;
  border-radius: 3px;
  margin: 5px;
}

.vm-list-main>row:selected {
  background-color: #2B2B2B;
  border: 1px solid #353535;
  border-radius: 3px;
  margin: 5px;
}

/* ServiceRow on Info page*/
.running-vm-list>row {
  background-color: #2B2B2B;
  border: none;
  margin: 0;
  box-shadow: none;
}

.vm-row-2 {
  background-color: #2B2B2B;
  border: none;
  margin: 0;
  box-shadow: none;
}

.vm-row-2:active {
  background-color: #2B2B2B;
  border: none;
  margin: 0;
  box-shadow: none;
}

.vm-row-2:hover {
  background-color: #2B2B2B;
  border: none;
  margin: 0;
  box-shadow: none;
}

.vm-row-2:focus {
  background-color: #2B2B2B;
  border: none;
  margin: 0;
  box-shadow: none;
}

.vm-row-2:selected {
  background-color: #2B2B2B;
  border: none;
  margin: 0;
  box-shadow: none;
}

/* Settings List styling */
.settings_list {
  background-color: #1D1D1D;
}

.settings-row {
  background-color: #1D1D1D;
  border: none;
  margin: 0;
}

.settings-row:active {
  background-color: #1D1D1D;
  border: none;
  margin: 0;
}

.settings-row:hover {
  background-color: #2B2B2B;
  border: none;
  margin: 0;
}

.settings-row:focus {
  background-color: #2B2B2B;
  border: none;
  margin: 0;
}

.settings-row:selected {
  background-color: #2B2B2B;
  border: none;
  margin: 0;
}

.settings-row>box.header {
  background-color: #1D1D1D;
}

.settings-row:active>box.header {
  background-color: #2B2B2B;
}

.settings-row:focus>box.header {
  background-color: #2B2B2B;
}

.settings-row:hover>box.header {
  background-color: #2B2B2B;
}

.settings-row:selected>box.header {
  background-color: #2B2B2B;
}

.settings-row>box.title {
  background-color: #1D1D1D;
}

.settings-row:active>box.title {
  background-color: #2B2B2B;
}

.settings-row:focus>box.title {
  background-color: #2B2B2B;
}

.settings-row:hover>box.title {
  background-color: #2B2B2B;
}

.settings-row:selected>box.title {
  background-color: #2B2B2B;
}

.settings-row>*>*>label {
  color: #FFFFFF;
}

.settings-row:active>*>*>label {
  color: #FFFFFF;
}

.settings-row:focus>*>*>label {
  color: #F15025;
}

.settings-row:hover>*>*>label {
  color: #FFFFFF;
}

.settings-row:hover:focus>*>*>label {
  color: #F15025;
}

.settings-row:hover:selected>*>*>label {
  color: #F15025;
}

.settings-row:selected>*>*>label {
  color: #F15025;
}

/*Dropdown styling*/
.dropdown-button {
  background-color: #353535;
  border: none;
  margin: 0;
}

.dropdown-button>button.toggle {
  color: #FFFFFF;
}

.dropdown-button>button {
  background-color: #353535;
  border: 1px solid #2B2B2B;
  border-radius: 2px;
  margin: 0;
}

.dropdown-button>button>box {
  background-color: #353535;
  border: none;
  margin: 0;
}

.dropdown-button>button>box>*>row {
  background-color: #353535;
  border: none;
  margin: 0;
  box-shadow: none;
}

.dropdown-button>button>box>*>row:hover {
  background-color: #353535;
  border: none;
  margin: 0;
}

.dropdown-button>button>box>*>row>*>label {
  color: #FFFFFF;
}

.dropdown-button>popover>contents {
  background-color: #353535;
  border: 1px solid #2B2B2B;
  border-radius: 2px;
  margin: 0;
}

.dropdown-button>popover>contents>*>*>listview {
  background-color: #353535;
}

.dropdown-button>popover>contents>*>*>*>row {
  background-color: #353535;
  border: none;
  border-radius: 0px;
  margin: 0;
  box-shadow: none;
}

.dropdown-button>popover>contents>*>*>*>row:selected {
  background-color: #2B2B2B;
  border: none;
  border-radius: 0px;
  margin: 0;
}

.dropdown-button>popover>contents>*>*>*>row:hover {
  background-color: #2B2B2B;
  border: none;
  border-radius: 0px;
  margin: 0;
}

.dropdown-button>popover>contents>*>*>*>row:selected:hover {
  background-color: #2B2B2B;
  border: none;
  border-radius: 0px;
  margin: 0;
}

.dropdown-button>popover>contents>*>*>*>row:selected:focus {
  background-color: #2B2B2B;
  border: none;
  border-radius: 0px;
  margin: 0;
}

.dropdown-button>popover>contents>*>*>*>row:focus {
  background-color: #353535;
  border: none;
  border-radius: 0px;
  margin: 0;
}

.dropdown-button>popover>contents>*>*>*>row>*>label {
  color: #FFFFFF;
}

/*Scale slider styling*/
scale {
  background-color: transparent;
  padding: 1px;
}

scale>trough {
  background-color: #F15025;
  color: #F15025;
  background-image: none;
}

scale>trough>fill {
  background-color: #F15025;
  color: #F15025;
  background-image: none;
}

scale>trough>highlight {
  background-color: #F15025;
  color: #F15025;
  background-image: none;
}

scale>trough>slider {
  background-color: #FFFFFF;
  /*min-width: 20px;
  min-height: 20px;*/
}

scale>value {
  color: #FFFFFF;
}

/*Progress bar styling */
/*green: #5AC379, red: #FF2E00*/
progressbar {
  background-color: transparent;
  min-height: 20px;
  border-radius: 2px;
}

progressbar>trough {
  background-color: #FFFFFF;
  min-height: 20px;
  border-radius: 2px;
  margin: 0;
}

progressbar>trough>progress {
  background-color: #5AC379;
  min-height: 20px;
  border-radius: 2px;
  margin: 0;
}

.progress-below-80>trough>progress {
  background-color: #5AC379;
  min-height: 20px;
  border-radius: 2px;
  margin: 0;
}

.progress-above-80>trough>progress {
  background-color: #FF2E00;
  min-height: 20px;
  border-radius: 2px;
  margin: 0;
}

/*Settings buttons*/
.settings-button {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 5px;
  color: #FFFFFF;
}

.settings-button:hover {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 5px;
  color: #FFFFFF;
}

.settings-button:disabled {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 5px;
  color: lightgray;
}

switch {
  background-color: rgba(255, 255, 255, 0.06);
  color: #FFFFFF;
  min-width: 30px;
  min-height: 16px;
  border: none;
}

switch:checked {
  background-color: #5AC379;
  color: #FFFFFF;
  min-width: 30px;
  min-height: 16px;
  border: none;
}

/*Dropdown menu button*/
.menu-button>button {
  background-color: #353535;
  border: 1px solid #2B2B2B;
  color: white;
  border-radius: 2px;
}

.menu-button>button:hover {
  background-color: #353535;
  border: 1px solid #2B2B2B;
  color: white;
  border-radius: 2px;
}

.menu-button.text-button {
  color: #FFFFFF;
}

.menu-button>popover {
  margin: -10px;
  padding: 0px;
}

.menu-button>popover>contents {
  background-color: #353535;
  border: 1px solid #2B2B2B;
  border-radius: 2px;
  margin: 0;
  padding: 0px;
}

.menu-button>popover>arrow {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}


/*Buttons inside popover*/
.popover-button {
  background-color: #353535;
  color: #FFFFFF;
  border-radius: 0px;
  border: none;
  padding-left: 10px;
}

.popover-button:hover {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border-radius: 0px;
  border: none;
}

.popover-button:disabled {
  background-color: #353535;
  color: grey;
  border-radius: 0px;
}

/*Popup*/
.settings-popup {
  background-color: #1D1D1D;
  border-radius: 6px;
  border: 1px solid rgba(117, 117, 117, 0.5);
  padding: 0px;
}

/*Entry*/
entry {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 2px;
}

entry>text {
  color: #FFFFFF;
}

/*Tab widget (GtkNotebook)*/
.tab-widget {
  background-color: #2B2B2B;
  border: none;
}

.tab-widget>stack {
  background-color: #2B2B2B;
  border: none;
}

.tab-widget>stack>box {
  background-color: #2B2B2B;
}

.tab-widget>header>tabs {
  background-color: #2B2B2B;
}

.tab-widget>header>tabs>tab {
  background-color: #2B2B2B;
  margin-right: 20px;
  box-shadow: none;
}

.tab-widget>header>tabs>tab:checked {
  background-color: #2B2B2B;
  margin-right: 20px;
  background-image: none;
  box-shadow: inset 0 -2px 0 #F15025;
}

.tab-widget>header>tabs>tab:hover {
  background-color: #2B2B2B;
  margin-right: 20px;
  background-image: none;
  box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.09);
}

.tab-widget>header>tabs>tab:checked:hover {
  background-color: #2B2B2B;
  margin-right: 20px;
  background-image: none;
  box-shadow: inset 0 -2px 0 #F15025;
}

.tab-widget>header>tabs>tab>label {
  color: #FFFFFF;
}

/*Arrow button for expander-like behaviour*/
.arrow-button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  padding: 0;
}

.arrow-button image {
  min-width: 8px;
  min-height: 8px;
}